apiVersion: v1
kind: ConfigMap
metadata:
  name: 
            $match = $args[0]
              = $match.Groups[1].Value
            mymicroservice = $match.Groups[2].Value
            - = $match.Groups[3].Value
            return   + $newWord + -
        configmap
data:
  appsettings.Development.json: |-
    {
        "ConnectionStrings": {
            "ClientId": "#{ClientId}#",
            "TenantId": "#{TenantId}#",
            "ClientSecret": "#{ClientSecret}#",
            "DbMyMicroservice": "Data Source=host.minikube.internal,1433;Initial Catalog 
            $match = $args[0]
            = = $match.Groups[1].Value
            MyMicroservice = $match.Groups[2].Value
            ; = $match.Groups[3].Value
            return = + $newWord + ;
        User ID=#{DbAccount}#;Password=#{DbPassword}#;Trust Server Certificate=True"
        }
    }


